@import "tailwindcss";

@theme {
  --color-paragraph: #81afdd;
  --color-background: #040c18;
  --color-button: #ff4820;
 
}

body {
  @apply bg-background
}

@layer base {
  
    h1 {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
};
  
}